body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
html{
  background-color: #66bfbf;
}
header {
  background-color: #132743;
  color: #eaf6f6;
  padding: 10px;
  text-align: center;
}
  
  h1 {
    text-align: center;
  }
  .iniciar-sesion{
   color: #f76b8a;
  }
  #game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  #players-container {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    
  }
  
  .player-card {
    background-color: #eaf6f6;
    color: #132743;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(195, 107, 148, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 147, 0.15) 0 1px 2px,rgba(187, 44, 118, 0.15) 0 2px 4px,rgba(102, 15, 56, 0.15) 0 4px 8px,rgba(187, 44, 149, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
  }
  
  #question-container {
    text-align: center;
   }
  
  .option {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #status-container{
    text-align: center;
    position: sticky;
    background-color: #ffb5b5;
    border-radius: 30px;
    color: #132743;
    padding: 10px;
    margin-right: 10px;
    position:fixed;
    right: 0px;
    top: 180px;
  }
  #mod-start-rondas {
    text-align: center;
    position: sticky;
    background-color: #ffb5b5;
    border-radius: 30px;
    color: #132743;
    padding: 10px;
    margin-right: 10px;
    position:fixed;
    right: 0px;
    top: 180px;
  }

  #username-input {
    margin-left: 1em;
    width: 10em;
    border-color: #f76b8a;
    border-style:solid;
    color: #407088;
    border-radius: 10px;
  }
  input[type="text"]:focus, input[type="text"]:active {
    background-color: #f9d9d9;
    border-color: #ffcbcb;
    
  }
  #password-input{
    margin-left: 1em;
    width: 10em;
    padding: 0.3em;
    border-color: #f76b8a;
    border-style:solid;
    color: #407088;
    border-radius: 10px;
  }
  input[type="password"]:focus, input[type="password"]:active {
    background-color: #ffcbcb;
    border-color: #ffcbcb;
  }

  #login-button{
    background-color: #ffcbcb;
    border-radius: 100px;
    box-shadow: rgba(217, 24, 178, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 200, 0.15) 0 1px 2px,rgba(187, 44, 177, 0.15) 0 2px 4px,rgba(102, 15, 93, 0.15) 0 4px 8px,rgba(180, 44, 187, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
    color: #f76b8a;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 1em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
    margin-top: 1em;
    /*
    Botón copiado de: 
    https://getcssscan.com/css-buttons-examples
    */
  }

  .register {
    color: #66bfbf;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register:hover {
    color: red;
  }
  .container{
    margin: 2em ;
    flex-direction: column;
    background-color: #eaf6f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 13px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 500px;
  }
  .title-juegos{
    color: #eaf6f6;
  }
  
  .game{
    position: relative;
    height: 9em;
    margin: 3px;
    background-color: #ffcbcb;
    box-shadow: 6px 9px 10px #602640;
    border: 1px solid #ffb5b5;
    color: #132743;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    padding-bottom: 2em; 
    max-height: 9em;  
    max-width: 12em; 
    min-height: 9em;  
    min-width: 12em;   
  }
  .game h4{
    margin-top: 0;
  }
  .bton{
    background-color: #407088;
    border-radius: 10px;
    color: #fcfefe;
    cursor: pointer;
    padding: 7px 10px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 0.8em;
    touch-action: manipulation;
    margin-bottom: 10px;
    margin-top: 0;
  }
.boton{
  text-align: center;
}
  .crear{
    background-color: #f76b8a;
    border-radius: 10px;
    color: #fcfefe;
    cursor: pointer;
    padding: 7px 10px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 1.2em;
    touch-action: manipulation;
    margin-bottom: 10px;
    align-self: center;
    box-shadow: rgba(217, 24, 178, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 200, 0.15) 0 1px 2px,rgba(187, 44, 177, 0.15) 0 2px 4px,rgba(102, 15, 93, 0.15) 0 4px 8px,rgba(180, 44, 187, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
  }


  .titulo{
    display:inline-flex;
  }

  .imagen {
    width: 50px; 
    height: 50px;
    margin-right: 10px; 
  }

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    color: #407088;
    text-align: center;
    background-color: #eaf6f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 30px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-crear{
    background-color: #132743;
    border-radius: 10px;
    color: #fcfefe;
    cursor: pointer;
    padding: 7px 10px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 1em;
    touch-action: manipulation;
    margin-bottom: 10px;
    align-self: center;
    margin-top: 10px;
  }

  .nombre{
    width: 3px;
    color: #407088;
    border-radius: 5px;
  }

  .displayblock{
    display: block;
  }

  h3{
    font-size: 1em;
  }
.btn-empezar{
  background-color: #f76b8a;
    border-radius: 10px;
    color: #fcfefe;
    cursor: pointer;
    text-align: center;
    border: 0;
    font-size: 1.5em;
    padding: 7px 10px;
    touch-action: manipulation;
    align-self: center;
    margin-right: 1em;
    box-shadow: rgba(217, 24, 178, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 200, 0.15) 0 1px 2px,rgba(187, 44, 177, 0.15) 0 2px 4px,rgba(102, 15, 93, 0.15) 0 4px 8px,rgba(180, 44, 187, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
}
.parte-superior{
  justify-content:right; /* Centrar horizontalmente los elementos */

}
#faltas-jugador,#estado-jugador{
  color: #f76b8a;
}
#question, #answer-input{
  font-size: 20px;
  color: #132743;
}
.btn-enviar-respuesta, .btn-enviar-pregunta, .btn-enviar-calificaciones{
  background-color: #f76b8a;
  border-radius: 10px;
  color: #fcfefe;
  cursor: pointer;
  padding: 7px 10px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  touch-action: manipulation;
  margin-bottom: 10px;
  align-self: center;
  margin-left: 2em;
  margin-right: 50px;
  margin-bottom: 1em;

  box-shadow: rgba(217, 24, 178, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 200, 0.15) 0 1px 2px,rgba(187, 44, 177, 0.15) 0 2px 4px,rgba(102, 15, 93, 0.15) 0 4px 8px,rgba(180, 44, 187, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
}


#feedback-area{
  display: none;
}

.btn-hidden{
  display: none;
}

.text-game-section{
  font-size: 20px;
  color: #132743;
}

/* CSS MODAL SACADO DE https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #702e4c94; 
  font-size: 25px;
}

.modal-content {
  text-align: center;
  font-variant: small-caps;
  font-family: sans-serif;
  background-color: #fdfdcb;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #ec729c;
  width: 80%;
  color: #9a2459;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.retry{
  background-color: #c54c82;
  border-radius: 100px;
  box-shadow: rgba(217, 24, 178, 0.2) 0 -25px 18px -14px inset,rgba(234, 66, 200, 0.15) 0 1px 2px,rgba(187, 44, 177, 0.15) 0 2px 4px,rgba(102, 15, 93, 0.15) 0 4px 8px,rgba(180, 44, 187, 0.15) 0 8px 16px,rgba(246, 48, 206, 0.15) 0 16px 32px;
  color: #fdfdcb;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 0.8em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
  margin-top: 10px;
  
  /*
  Botón copiado de: 
  https://getcssscan.com/css-buttons-examples
  */
}
.modalNone{
  display: none;
}
.modalBlock{
  display: block;
}

#containerRespuestas{
  margin: 2em ;
  background-color: #eaf6f6;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 13px;
  flex-wrap: wrap;
}

.respuestas{
    position: relative;
    height: 5em;
    margin: 3px;
    background-color: #ffcbcb;
    box-shadow: 6px 9px 10px #602640;
    border: 1px solid #ffb5b5;
    color: #132743;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em;
    margin-bottom: 2em;
    width: 5em;
    
}
#errorContainer{
  background-color: rgb(157, 12, 12);
  text-align: center;
  size: 2em;
  height: 2em;
  color: white;

}
